
.scoreBox {
	overflow: auto;
}




.pcard {
	display: inline-block;
    width: 3.3em;
    height: 4.6em;
	background-color: #ffffff;
	border-radius: 5px;
	margin: 1rem;
	text-align: center;
	font-size:1.2rem;
	-moz-box-shadow: .2em .2em .5em #333;
    -webkit-box-shadow: .2em .2em .5em #333;
    box-shadow: .2em .2em .5em #333;
}



.pcard .rank {
    display: block;
    line-height: 1;
	text-align: left;
	margin-left: .6rem;
	margin-top: .6rem;
}

.pcard .suit {
	line-height: .7;
	font-size:4rem;
}

.hearts {
	color: #ff0000;
}
.spades {
	color: #000000;
}
.diams {
	color: #ff0000;
}
.clubs {
	color: #000000;
}